body{
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square{
	width: 100px;
	height: 100px;
	background: purple;
	padding-bottom: 30%;
	margin: 5%;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;

}

.miniSquare{
	width: 20px;
	height: 20px;
	background: purple;
	padding-bottom: 30%;
	margin: 3px;
	border-radius: 15%;
	transition: background 0.5s;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;

}

.miniWholeSquare{
	margin: 5px;
}

.miniWholeSquareTitle{
	color: white;
	margin: 5px;
}

.container{
	margin: auto;
	max-width: 90%;
}

.gameContainer{
	margin: 100px auto;
	max-width: 700px;
	text-align: center;
	align-content: center;
	vertical-align: center;
}


h1{
	text-align: center;
	color: white;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}

.rubixButton{
	padding: 10px;
}

button:hover{
	color: white;
	background-color: steelblue;
}
